/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.clearfix::after{
  clear: both;
  display: table;
  content: "";
}

img {
  max-width: 35%;
  height: auto;
}
.background-sez3{
  background-color: #42FFC7;
}
.background-footer{
  background-color: blue;
}
.background-bottom-footer{
  background-color: darkblue;
}
section, footer{
  margin-top: 25px;
}

.backgroundnav{
  background-color: blue;
}
.resizepage{
  padding: 0 10%;
}
/* regole di debug */
[class*="col-"] {
  min-height: 60px;
  /* background-color: lightgreen; */
  border: solid 1px  #000;
  /* index: 100; */
  /* padding: 2px; */
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

/* PROPRIETà CORPO PAGINA */
/* proprietà nav */
#nav-md {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 900;
}
#jumbo{
  margin-top: 60px;
}
.title-nav{
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
}
.navigatorbar{
  padding-left:50%;
}
ul#menu_box li {
  display: block;
  line-height: 60px;
  padding: 0 15px ;
  float: left;
    }
ul#menu_box li a {
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
/* proprietà jumbotron */
.jumbotron{
  text-align: center;
  padding: 5px 2%;
}
/* PROPRIETA RESPONSIVE */

/* XS SCREEN */
@media screen and (max-width: 768px) {
  .resizepage{
    padding: 0 0;
  }
}
/* MD SCREEN */
@media screen and (max-width: 1170px) {
  .resizepage{
    padding: 0 2%;
  }
}
