/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.clearfix::after{
  clear: both;
  display: table;
  content: "";
}
.inline{
  display: inline-block;
}
hr{
  width: 20%;
  vertical-align: middle;
  /* border: solid 1px #000; */
}
.hr-resize{
  text-align: center;
  padding: 0 auto;
}
.hr-black{
  margin: 0 auto;
  background-color: blue;
  border: solid 1px blue;
}
#blue{
  color: blue;
}
#white{
  color: white;
}
.hr-white{
  margin: 0 auto;
  background-color: #fff;
  border: solid 1px #fff;
}
img {
  max-width: 100%;
  height: auto;
}
.background-sez3, .jumbotron{
  background-color: #42FFC7;
}
.background-footer{
  background-color: blue;
}
.background-bottom-footer{
  background-color: darkblue;
}
section, footer{
  margin-top: 25px;
}
.resizepage{
  padding: 0 10%;
}
.fixed{
  width: 100vw;
  position: fixed;
  stop: 0;
  left: 0;
  z-index: 900;
}
/* regole di debug */
[class*="col-"] {
  /* min-height: 60px; */
  /* background-color: lightgreen; */
  /* border: solid 1px  #000; */
  /* index: 100; */
  /* padding: 2px; */
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

/* PROPRIETà CORPO PAGINA */

/* proprietà nav */
#nav-color{
  background-color: #2c3e50;
}

/* proprietà jumbotron */
#jumbo{
  margin-top: 60px;
}
#jumboimg{
  width: 40%;
  height: auto;
}
.jumbotron{
  text-align: center;
  padding: 5px 2%;
}

.jumbo-title, .jumbo-subtitle{
  color:white;
}

/* proprietà main */

/* proprietà sezione 1 */
.sez1-title{
  /* color: WHITE; */
  padding: 0 auto;
  font-weight: bold;
  text-align: center;
}
#portfolio{
  padding: 2% 2%;
  border-radius: 10px;
  background-color: blue;
}
.portfolioimg{
  /* width: 160px;
  height: auto; */
  margin:  10px 10px ;
  padding-right: 5%;
  /* background-color: lightgreen; */
  text-align: center;
  border-radius: 5px;

}
/* PROPRIETà SEZIONE 2 */
.p-sez-about{
  color: white;
  padding: 10px 4%;
}
.button-box{
  text-align: center;
  margin: 10px 0 ;
}
#button-white{
  border-color: #fff;
  background-color: #42FFC7;
  color: white;
}
#download{
  color:white;
  margin-right:5%;
}

/* proprietà sezione 3 */
.dati-cliente{
  font-size: 12px;
  margin: 15px auto;
}
#button-send{
  border-color: WHITE;
  color: white;
  background-color: #42FFC7
}
.send-box{
  border-top: solid blue 1px ;
  padding-top: 5px;
}

/* proprietà footer */
.title-footer, .subtitle-footer, .bottom-footer{
  text-align: center;
  margin: 20px auto;
}
.subtitle-footer{
  font-size: 10px;
}
.social-box{
  text-align: center;
}
ul#menu_box_social li {
  ext-align: center;
  /* font-family: sans-serif; */
  display: inline-block;
  padding: 0 4%;
    }
ul#menu_box_social li a {

  /* font-size: 15px; */
  text-decoration: none;
}
#social{
  color: white;
}
#link-boot{
  text-decoration: none;
  color: #42FFC7;
}
.bottom-footer{
  font-size: 8px;
}
/* PROPRIETA RESPONSIVE */

/* XS SCREEN */
@media screen and (max-width: 768px) {
  .resizepage{
    padding: 0 0;
  }
}
/* MD SCREEN */
@media screen and (max-width: 1170px) {
  .resizepage{
    padding: 0 2%;
  }
}
